* {
    box-sizing: border-box;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.user-item {
    padding: 10px;
    border: 1px solid #282c34;
    align-self: stretch;
    width: 100%;
    max-width: 25%;
}

.user-item p,
.user-item h3 {}

img.gender {
    display: inline;
    height: 20px
}

@media only screen and (max-width: 900px) {
    .user-item {
        max-width: 33.33%;
    }
}

@media only screen and (max-width: 600px) {
    .user-item {
        max-width: 50%;
    }
}

@media only screen and (max-width: 300px) {
    .user-item {
        max-width: 100%;
    }
}